* {
  box-sizing: border-box; }

body {
  background-color: #f1f1f1;
  font-family: 'Work Sans', sans-serif;
  margin: 0; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.container-fluid {
  margin: 0 auto;
  background-color: #fbf9fb; }
  .container-fluid .style-block {
    background-color: white;
    height: calc(40px + 10px + 160px);
    position: absolute;
    width: 100%; }
  .container-fluid .container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative; }
    .container-fluid .container .row {
      padding: 40px 0px;
      display: flex;
      margin: 0px -10px;
      align-items: flex-start; }
      .container-fluid .container .row .main-card {
        margin: 10px;
        flex: 1;
        width: 580px;
        height: 760px; }
        .container-fluid .container .row .main-card .main-image {
          max-width: 580px;
          max-height: 370px;
          margin: 0; }
          .container-fluid .container .row .main-card .main-image img {
            max-width: 100%;
            height: auto; }
        .container-fluid .container .row .main-card .content {
          color: white;
          padding: 40px 60px;
          margin: 0;
          width: 580px;
          height: 390px;
          background-color: #472877; }
          .container-fluid .container .row .main-card .content .small-text {
            font-size: 12px; }
          .container-fluid .container .row .main-card .content .title {
            font-size: 24px;
            padding-top: 30px; }
          .container-fluid .container .row .main-card .content .description {
            font-size: 15px;
            margin: 45px 0px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden; }
          .container-fluid .container .row .main-card .content .button {
            width: 150px;
            height: 45px;
            background-color: #472877;
            border: 2px solid white;
            border-radius: 22px;
            position: relative;
            color: white;
            font-size: 16px; }
            .container-fluid .container .row .main-card .content .button .text {
              position: absolute;
              left: 30px;
              top: 10px; }
            .container-fluid .container .row .main-card .content .button .right {
              position: absolute;
              top: 12px;
              right: 30px; }
      .container-fluid .container .row .sub-cards {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        width: 580px; }
        .container-fluid .container .row .sub-cards .sub-card {
          width: 260px;
          margin: 10px; }
          .container-fluid .container .row .sub-cards .sub-card .sub-image {
            max-width: 260px;
            max-height: 160px;
            margin: 0;
            overflow: hidden; }
            .container-fluid .container .row .sub-cards .sub-card .sub-image img {
              max-width: 100%;
              height: auto; }
          .container-fluid .container .row .sub-cards .sub-card .content {
            position: relative;
            background-color: white;
            padding: 30px 25px; }
            .container-fluid .container .row .sub-cards .sub-card .content .avatar {
              width: 40px;
              height: 40px;
              border: 2px solid white;
              border-radius: 50%;
              overflow: hidden;
              margin: 0;
              position: absolute;
              left: 25px;
              top: -20px; }
              .container-fluid .container .row .sub-cards .sub-card .content .avatar img {
                max-width: 100%;
                height: auto; }
            .container-fluid .container .row .sub-cards .sub-card .content .title {
              font-size: 18px;
              color: #1b084e;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical; }
            .container-fluid .container .row .sub-cards .sub-card .content .description {
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              font-size: 15px;
              color: #6d727e;
              padding-top: 25px; }
          .container-fluid .container .row .sub-cards .sub-card .footer {
            position: relative;
            background-color: white;
            padding: 12.5px 25px;
            color: #1b084e;
            display: flex;
            align-items: center;
            justify-content: space-between; }
            .container-fluid .container .row .sub-cards .sub-card .footer .line {
              border-top: 3px solid #f9f9fa;
              width: 210px;
              position: absolute;
              top: -1px; }
            .container-fluid .container .row .sub-cards .sub-card .footer figure {
              margin: 0;
              margin-right: 10px; }
            .container-fluid .container .row .sub-cards .sub-card .footer > * {
              display: flex;
              align-items: center; }
  .container-fluid .second-container {
    background-color: black;
    height: 840px; }
    .container-fluid .second-container .container {
      position: relative; }
      .container-fluid .second-container .container .cards {
        display: flex;
        padding-top: 435px; }
        .container-fluid .second-container .container .cards .card {
          color: white;
          width: 385px;
          height: 365px;
          padding: 35px 30px; }
          .container-fluid .second-container .container .cards .card .full-image {
            width: 1140px;
            margin: 0 auto;
            padding: 10px;
            height: 435px;
            position: absolute;
            top: 0px;
            left: 0px;
            display: none;
            overflow: hidden; }
            .container-fluid .second-container .container .cards .card .full-image img {
              max-width: 60%;
              height: auto;
              vertical-align: middle; }
            .container-fluid .second-container .container .cards .card .full-image.active {
              display: block !important; }
          .container-fluid .second-container .container .cards .card .title {
            font-size: 20px; }
          .container-fluid .second-container .container .cards .card .description {
            padding-top: 30px; }
          .container-fluid .second-container .container .cards .card:hover {
            cursor: pointer;
            border-radius: 3px;
            background-color: #2b2b36; }
            .container-fluid .second-container .container .cards .card:hover .full-image {
              display: block !important;
              background-color: black; }
