/*1113 759
*/
* {
  box-sizing: border-box; }

body {
  background-color: #f1f1f1;
  font-family: 'Work Sans', sans-serif;
  margin: 0; }

.container {
  max-width: 1140px;
  margin: 0 auto; }
  .container .row {
    padding: 60px 0px;
    display: flex;
    margin: 0px -10px; }
    .container .row .main-card {
      margin: 0 10px;
      flex: 1;
      width: 580px;
      height: 760px; }
      .container .row .main-card .main-image {
        max-width: 580px;
        max-height: 370px;
        margin: 0; }
        .container .row .main-card .main-image img {
          max-width: 100%;
          height: auto; }
      .container .row .main-card .content {
        margin: 0;
        width: 580px;
        height: 390px;
        background-color: #472877; }
    .container .row .sub-cards {
      flex: 1;
      margin: 0 10px;
      display: flex;
      flex-wrap: wrap; }
      .container .row .sub-cards .sub-image {
        max-width: 260px;
        max-height: 160px;
        margin: 0 10px; }
        .container .row .sub-cards .sub-image img {
          max-width: 100%;
          height: auto; }

/*.main-card{}*/
